@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'inter';
  src: url('/fonts/inter.ttf');
}
@layer base {
  html {
    font-family: inter, system-ui, sans-serif;
  }
  h1 {
    font-size: xx-large;
  }
  h2 {
    font-size: x-large;
  }
  h3 {
    font-size: larger;
  }
  h4 {
    font-size: medium;
  }
  h5 {
    font-size: small;
  }
}
@layer components {
  .dark {
    @apply bg-primary text-secondary;
  }
  .light {
    @apply bg-secondary text-primary;
  }
  .debug {
    @apply border-2 border-red-500 border-solid;
  }
}
